* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

html,
body {
	overflow-y: hidden;
	margin: 0;
	height: 100%;
	background: #000;
	color: #fff;
	font-family: "SF Mono", "Lucida Console", Monaco, monospace;
	line-height: 2;
	animation: fadein .2s;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #000;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
	background: #333;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

::-webkit-scrollbar-thumb:active {
	background: #fff;
}

#titlebar {
	position: fixed;
	display: flex;
	width: 100%;
	height: 32px;
	align-items: center;
}

#titlebar #drag-region {
	display: grid;
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
	grid-template-columns: auto 96px;
}

#window-title {
	display: flex;
	overflow: hidden;
	margin-left: 8px;
	text-overflow: ellipsis;
	grid-column: 1;
	align-items: center;
}

#window-title span {
	overflow: hidden;
	text-overflow: ellipsis;
}

#window-controls {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	height: 100%;
	font-size: 10px;
	font-family: "Segoe MDL2 Assets";
	grid-template-columns: repeat(3, 32px);
}

#window-controls {
	-webkit-app-region: no-drag;
}

#window-controls .button {
	display: flex;
	width: 100%;
	height: 100%;
	grid-row: 1 / span 1;
	justify-content: center;
	align-items: center;
}

#window-controls .button {
	color: rgba(255, 255, 255, 0.5);
}

#window-controls #min-button {
	grid-column: 1;
}

#window-controls #min-button:hover {
	color: #00CA4E;
}

#window-controls #max-button,
#window-controls #restore-button {
	grid-column: 2;
}

#window-controls #max-button:hover,
#window-controls #restore-button:hover {
	color: #FFBD44;
}

#window-controls #restore-button {
	display: none;
}

#window-controls #close-button {
	grid-column: 3;
}

#window-controls #close-button:hover {
	color: #FF605C;
}

#main {
	overflow-y: auto;
	margin-top: 32px;
	padding: 8px;
	height: calc(100% - 32px);
}

input {
	display: flex;
	padding: 16px;
	width: 100%;
	border: 2px dashed #333;
	border-radius: 8px;
	cursor: pointer;
}

button {
	display: flex;
	margin: 8px 0;
	padding: 16px;
	width: 100%;
	border-radius: 8px;
	background: linear-gradient(120deg, #fe1da9, #ffa727);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	justify-content: center;
}

pre,
button,
input {
	font-family: "SF Mono", "Lucida Console", Monaco, monospace;
}

.file {
	padding: 8px 0;
	border-bottom: 2px dashed #333;
}

p {
	margin: 0;
	color: #50e3c2;
}
